<div class="container">
    <div class="login-header">
        <div class="logo">
            <img src="./assets/icons/Logo.svg" alt="">
            <p>DABubble</p>
        </div>
    </div>
    <div class="login-content">
        <div class="header">
            <img (click)="getBack()" src="./assets/icons/arrow_back.png" alt="">
            <h1>Passwort zurücksetzen</h1>
        </div>

        <form #form="ngForm" (ngSubmit)="resetPassword(password1)">
            <div class="input">
                <img [ngStyle]="{'width': '20px'}" src="./assets/icons/login-mail.svg" alt="">
                <input 
                    type="password"
                    name="password1" 
                    [(ngModel)]="password1"
                    (keyup)="validatePasswords()"
                    required 
                    [placeholder]="passwordPlaceholder" 
                    (blur)="minLength()"
                    [ngClass]="{'error': isPasswordError}"  
                    />
            </div>

            <div class="input">
                <img [ngStyle]="{'width': '20px'}" src="./assets/icons/login-mail.svg" alt="">
                <input 
                    type="password"
                    name="password2" 
                    [(ngModel)]="password2"
                    (keyup)="validatePasswords()"
                    required 
                    placeholder="Neues Passwort bestätigen" 
                    />
            </div>

            <div class="login-buttons">
                <button type="submit" class="login-button"
                [disabled]="!buttonEnabled" 
                [ngClass]="{'active-button': buttonEnabled}"
                >Passwort ändern</button>
            </div>
            
        </form>
    </div>
    
</div>

@if (success) {
    <div class="success-dialog">
        <div class="success-inner-dialog">
            <p>Passwort geändert!</p>
        </div>
    </div>
}