.dialog-user-profil {
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 500px;
    height: 550px;
    overflow-y: scroll;
    padding: 40px;
    gap: 45px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Nunito';
    scrollbar-width: none;
}

button {
    font-family: 'Nunito';
    font-size: 18px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 25px;

    &:hover {
        background-color: #ECEEFE;
    }
}

.profil-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 24px;
    font-weight: 700;

    .closebtn {
        width: 35px;
        height: 35px;
        border-radius: 20px;

        &:hover {
            content: url('./../../../assets/icons/close-1.svg');
            cursor: pointer;
            background: rgba(236, 238, 254, 1);
        }
    }
}

.profilImg {
    width:150px;
    height: 150px;
    border-radius: 300px;
    gap: 20px;
}

.avatars {
    width: 100%;
    display: flex;
    justify-content: space-between;

    >img {
        width: 64px;
        border-radius: 50%;
        cursor: pointer;
        box-sizing: border-box;

        &:hover {
            border: 4px solid lightgray;
        }
    }
}

.user-info {
    position: relative;
    align-self: flex-start;
    margin-top: -50px;
}

.user-name {
    font-size: 32px;
    font-weight: 700;
}

.online-point {
    border-radius: 50%;
    width: 14px;
    height: 14px;
    top: 40px;
    left: 50px;
    border: 2px solid #FFFFFF;
    background-color: #92C83E;
    z-index: 11;

}

.offline-point {
    border-radius: 50%;
    width: 14px;
    height: 14px;
    top: 40px;
    left: 50px;
    border: 2px solid #FFFFFF;
    background-color: rgba(104, 104, 104, 1);
    z-index: 11;

}

.d-flex {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 10px 0 0 0;

    >span {
        font-size: 20px;
        color: #686868;
        margin-top: 2px;
    }

}

.email {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: 20px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 700;

    >span {
        margin-top: 2px;
    }
}

.nachrichtBtn {
    width: 164px;
    height: 49px;
    padding: 12px 25px 12px 25px;
    gap: 10px;
    border-radius: 50px;
    background: rgba(68, 77, 242, 1);
    border: unset;
    font-size: 18px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;

    &:focus-visible {
        outline: unset;
    }

    &:hover {
        cursor: pointer;
        background: rgba(68, 77, 242, 0.603);
    }
}

.button-group {
    display: flex;
    padding: 0 8px;
    gap: 16px;
    margin-top: 40px;
    justify-content: center;

    button {
        width: 141px;
        height: 49px;
        border-radius: 50px;
        padding: 12px 25px;
        cursor: pointer;
        border: unset;
    }

    .saveBtn {
        background: #797EF3;
        color: rgba(255, 255, 255, 1);
    }

    .saveBtn.enabled {
        background: #444DF2;
        color: #ffffff;
        cursor: pointer;
        border: none;
        transition: background-color 0.3s ease;
    }

    .cancelBtn {
        border: 1px solid rgba(121, 126, 243, 1);
        color: rgba(68, 77, 242, 1);
        background-color: rgba(255, 255, 255, 1);

    }
}

input {
    font-family: 'Nunito';
}

input::placeholder {
    color: red;
}

.edit-profil {
    top: 0;
    right: 0;
    left: unset;
    border-radius: 30px 0 30px 30px;
    transform: translate(0, 10%);
    max-width: 500px;
}

@media (min-width: 1950px) {

    .edit-profil,
    .dialog-user-profil {
        right: auto;
        left: 1350px;
    }
}

@media (max-width: 768px) {
    .dialog-user-profil {
        width: 80%;
        padding: 30px;
        height: 550px;
        max-width: 500px;
    }

    .profilImg {
        width: 150px;
        height: 150px;
    }

    .profil-header {
        font-size: 18px;
    }

    .profil-header .closebtn {
        width: 25px;
        height: 25px;
    }

    .user-name {
        font-size: 18px;
    }

    .edit-profil {
        top: 50%;
        right: 50%;
        left: unset;
        border-radius: 30px 0 30px 30px;
        transform: translate(50%, -50%);
        width: 80%;
        height: 550px;
        max-width: 500px;
    }
}

@media (max-width: 550px) {
    .profilImg {
        width: 120px;
        height: 120px;
    }

    .avatars {
        >img {
            width: 40px;

            &:hover {
                border: 4px solid lightgray;
            }
        }
    }
}