<body>
  <div class="login-header">
    <div class="logo">
      <img src="./assets/icons/Logo.svg" alt="" />
      <p>DABubble</p>
    </div>
  </div>

  <div class="imprint-content">
    <div class="imprint-container">
      <img (click)="getBack()" src="./assets/icons/arrow_back.png" alt="" />
      <div>
        <h1>Impressum</h1>
        <h3>Angaben gemäß § 5 TMG</h3>
        <p>Vertreten durch: Matthias Hammelehle</p>
        <h3>Haftungsausschluss</h3>
        <p>
          Der Inhalt dieser Website wurde mit größtmöglicher Sorgfalt erstellt.
          Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte
          übernehmen wir jedoch keine Gewähr.
        </p>
        <h3>Urheberrecht</h3>
        <p>
          Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen
          Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung,
          Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der
          Grenzen des Urheberrechts bedürfen der schriftlichen Zustimmung des
          jeweiligen Autors bzw. Erstellers.
        </p>
        <h3>Externe Links</h3>
        <p>
          Für die Inhalte externer Links übernehmen wir keine Haftung. Für die
          Inhalte der verlinkten Seiten sind ausschließlich deren Betreiber
          verantwortlich.
        </p>
      </div>
      <div>
        <h2>Contact</h2>
        <p>Telefon: +49 (0) 1511 5623354</p>
        <p>Email: mahammelehle&#64;outlook.de</p>
      </div>
    </div>
  </div>
</body>
